apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  DB_HOST: mysql
  APP_MODE: production

#Use ConfigMap in a Pod (as env vars)
env:
  - name: DB_HOST
    valueFrom:
      configMapKeyRef:
        name: app-config
        key: DB_HOST

#Use ConfigMap as a Volume (config file)
volumeMounts:
  - name: config-vol
    mountPath: /etc/config

volumes:
  - name: config-vol
    configMap:
      name: app-config

